:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 10px 25px;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.page-title {
  text-align: center;
}

/* Buttons */

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;
}

.button.submit-button {
  background-color: #4CAF50; /* Green */
  color: white;
}

.button.submit-button:hover {
  background-color: #45a049;
}

.button.submit-button:active {
  background-color: #3e8e41;
}

.button.delete-button {
  background-color: white;
  color: #610803;
}

.button.delete-button:hover {
  background-color: #610803;
  color: white;
}

.button.delete-button:active {
  background-color: #610803;
  color: white;
}

/* Form components */

.form-container {
  border: 1px solid black;
  width: 70%;
  padding: 10px 15px;
}

.input-row {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 10px 0;
}